.align-middle {
    text-align: center;
}

.header-content {
    font-family: 'Righteous', cursive;
    margin: 8% auto 5% auto;
    text-align: center;
    width: 100%;
    padding: 20px;
    border-left: 5px solid #9d1531;
    border-right: 5px solid #9d1531;
}

.welcome-greeting {
    font-size: 60px;
    margin: 0;
}

@media (max-width: 470px) {

    .header-content {
        font-size: .95rem;
    }

    .welcome-greeting {
        font-size: 40px;
        margin-top: 50px;
    }

}