<div class="container">
    <h1 id="schedule" class="main-heading highlight">Schedule</h1>
    <h5 class="highlight">What is the schedule about?</h5>
    <p>Free tutorials will be conducted in these places below. Note that <span class="highlight">95% of the sales </span>will be given to charity.</p>
    <table class="table table-hover">
        <thead>
            <tr class="table-header">
                <th scope="col" class="no-highlight" *ngFor="let item of tableHeaders"><h5>{{ item }}</h5></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let value of tableValues">
                <td>{{ value.city }}</td>
                <td>{{ value.date | date: 'fullDate'}}</td>
                <td>{{ value.location }}</td>
                <td>{{ value.time }}</td>
            </tr>
        </tbody>
    </table>
</div> 