* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Lato', sans-serif;
    text-align: justify;
}

nav {
    background-color: #030842;
    color: rgb(245, 241, 242);
}

.nav-pic {
    width: 60px;
    height: 60px;
}

.medal-pic {
    float: left;
    width: 10%;
    height: 10%;
    padding: 2px;
}

.nav-item {
    float: left;
    list-style: none;
    padding: 0 20px;
    border-top: 5px solid #fd0236;
}

.nav-item:hover {
    background-color: #070f69;
    transform: translateY(10px);
}

.li-style {
    text-decoration: none;
    color: rgb(245, 241, 242);
}

.li-style:hover,
.highlight,
table tr:hover {
    color: #fd0236;
}

body,
.card {
    background: radial-gradient(#eee, #fff);
    color: #4F4A41;
}

header {
    height: 600px;
    color: rgb(245, 241, 242);
    background-image: url("img/coding.jpeg");
    background-size: cover;
    padding-top: 150px;
}

.header-content {
    background-color: rgba(68, 68, 68, 0.329);
    padding-left: 100px;
    margin-right: 550px;
}

.welcome-greeting {
    font-size: 60px;
    margin: 0;
}

.tutor-pic {
    width: 200px;
    height: 200px;
    float: left;
    transform: rotate(0);
    transition: transition 1s linear;
}

.tutor-pic:hover {
    transform: rotate(15deg);
}

.main-heading {
    margin: 50px auto;
    text-align: left;
    border-bottom: 2px solid #444;
}

.tutor {
    float: left;
    width: 50%;
    padding: 20px;
}

.back-style {
    background: #c59e8b5d;
    border-radius: 20px 20px 0 20px;
}

.center-content {
    margin-top: 10%;
    font-size: 2em;
}

.students-pic {
    width: 170px;
    height: 200px;
    display: block;
    margin: 0 auto;
    transform: scale(1.6);
}

.card-img-top {
    width: 100px;
    height: 300px;
    padding: 10px;
}

.display-3-col {
    float: left;
    padding: 20px;
    width: calc(33.3333% - 30px);
    margin: 15px;
}

.clear {
    clear: both;
}

table {
    width: 100%;
} 

#sign-in {
    margin-left: 200px;
}

.signup-form {
    position: relative;
    background-color: #c59e8b5d;
    margin-top: 120px;
    padding-top: 30px;
    border: 2px solid #444;
}

#genderPicture {
    position: absolute;
    border: 3px solid #444;
    border-radius: 50%;
    left: calc(50% - 100px);
    bottom: calc(100% - 100px);
    background-color: #c59e8b;
}

@media (max-width: 1199.98px) {
    /* .card-img-top {
        height: 40%;
        width: 30%;
    }  */
}

@media (max-width: 767.98px) { 
    nav {
        height: 50%;
    }

    .nav-pic {
        clear: both;
    }

    .nav-item {
        display: block;
        margin-top: calc(50% - 50%px);
        font-size: 14px;
        padding: 0 5px;
    }
    
    .nav-item:hover {
        transform: translateX(5px);
    }

    header {
        height: 300px;
        background-size: cover;
        padding-top: 10px;
    }
    
    .header-content {
        background-color: rgba(68, 68, 68, 0.329);
        padding-left: 10px;
        width: 100%;
        margin-top: 15%;
    }
    
    .welcome-greeting {
        font-size: 30px;
    }

    .center-content {
        margin: 0;
    }

    .tutor,
    .display-3-col {
        display: inline-block;
        width: 100%;
    }

    .students-pic { /* remove this pic */
        display: none;
    }

    .main-heading,
    .col-md {
        margin: 20px 50px;
    }
}
