<header class="jumbotron">
    <div class="header-content container-fluid">
        <h1 class="welcome-greeting text-center">Welcome to <span class="highlight">X</span>-Course!</h1>
        <p class="text-center lead"><strong>Lessons worth learning made fun and easy.</strong></p>
        <button (click)="toRegister()" id="begin" class="btn btn-primary btn-lg" [disabled]="!authService.AdminFlag && authService.isAuthenticated()">Join
            Now!</button>
    </div>
</header>

<div id="keys" class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-3 col-12 vision">
            <div class="row justify-content-center">
                <div class="col-md-4 col-3">
                    <img class="img-fluid icon-heading" src="../../assets/img/stopwatch.png" alt="">
                </div>
                <div class="col-md-8 col-5">
                    <h4>Timeless</h4>
                    <p>Unlimited access to courses.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-12 vision">
            <div class="row justify-content-center">
                <div class="col-md-4 col-3">
                    <img class="img-fluid icon-heading" src="../../assets/img/deal.png" alt="">
                </div>
                <div class="col-md-8 col-5">
                    <h4>Companionship</h4>
                    <p>Builds strong relationship with tutor.</p>
                </div>
            </div>
        </div>

        <div class="col-md-3 col-12 vision">
            <div class="row justify-content-center">
                <div class="col-md-4 col-3">
                    <img class="img-fluid icon-heading" src="../../assets/img/teamwork.png" alt="">
                </div>
                <div class="col-md-8 col-5">
                    <h4>Social</h4>
                    <p>Creates friendships through our Q and A.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<app-info></app-info>
<app-schedule></app-schedule>

<!-- home page. est: 1, end: 3 -->

<footer>
    <br/><br/>
    <div class="col-12">
        <div class="row justify-content-center">
            <div class="container col-sm-3">
                <h5 class="highlight">Creator</h5>
                <p>This site is created by <em>Johhny J. King</em>. A graduate of Computer Science from the University of
                    Canada, U.S.A</p>
            </div>

            <div class="container col-sm-3">
                <h5 class="highlight">About</h5>
                <p>This site is about providing people a fun and creative way of taking web courses.
                </p>
            </div>

            <div class="container col-sm-3">
                <h5 class="highlight">More on Xcourse</h5>
                <p>This site is about providing people a fun and creative way of taking web courses.
                </p>
            </div>

        </div>
    </div>

    <p class="highlight contain text-center">&copy; 2018 Randolph Dy</p>
</footer>