<div class="container">
    <h1 id="info" class="main-heading highlight">Good to Know</h1>
    
    <div class="row">
        <section class="col-md-4">
            <h5 class="highlight">Support</h5>
            <p>Join hundreds of thousands of students in 
                our supportive online community. They're 
                always available to lend support and 
                nudge you need to keep going. Join hundreds of thousands of students in 
                our supportive online community. They're 
                always available to lend support and 
                nudge you need to keep going.</p>
        </section><!--

        --><section class="col-md-4">
            <h5 class="highlight">People's choice</h5>
            <ul class="list-group border border-secondary">
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary border">
                    <img class="medal-pic img-fluid" src="../../assets/img/gold-medal.png" alt="gold-medal">
                    HTML
                    <span class="badge badge-primary badge-pill">45%</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary border">
                    <img class="medal-pic img-fluid" src="../../assets/img/silver-medal.png" alt="gold-medal">
                    CSS
                    <span class="badge badge-primary badge-pill">35%</span>
                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center list-group-item-secondary border">
                    <img class="medal-pic img-fluid" src="../../assets/img/bronze-medal.png" alt="gold-medal">
                    JavaScript
                    <span class="badge badge-primary badge-pill">20%</span>
                </li>
            </ul>
            <br/>
        </section><!--

        --><section class="col-md-4">
            <img class="students-pic img-fluid" src="../../assets/img/students.png" alt="Picture of students">
        </section>
        <div class="clear"></div>
    </div>
</div>