<app-navigation></app-navigation>

<div class="jumbotron" id="jumbo-back">
    <div class="jumbotron border shadow container" id="jumbo-heading">
        <h1 class="text-center highlight">{{ message }}</h1>
        <p class="text-center lead">Courses are available from
            <span class="highlight">{{ startDate | date:fullDate }}</span> to
            <span class="highlight">{{ endDate | date:fullDate }}</span>
        </p>
    </div>
</div>

<div class="container" style="margin: 30px auto;">
    <div class="col-8">
        <div class="row">
            <div class="input-group">
                <div class="border" style="padding: 5px 10px; background-color: #eee;">
                    <i class="fas fa-search"></i>
                </div>
                <div>
                    <input type="text" #searchbox class="form-control" placeholder="Search for courses.." (keyup)="search(searchbox.value)">
                    <!-- <ul>
                        <li *ngFor="let course of courses | async">{{ course.title }}</li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <h3 id="courses" class="highlight">Courses</h3>
    <div class="container row mx-auto">
        <div class="col-md-4 border" style="padding: 10px;" *ngFor="let course of courses">
            <img class="card-img-top img-fluid" src="{{ course.image }}" alt="Card image cap">
            <div class="card-body d-flex flex-column">
                <h4 class="card-title highlight" (click)="getCourse(i)" style="cursor: pointer">{{ course.title }}</h4>
                <p class="card-text">{{ course.description }}</p>
                <p>Creator: {{ course.creator }}</p>
                <p>Price: $ {{ course.price }}</p>
                <button type="button" class="btn btn-primary mt-auto" (click)="onEnroll()">Enroll Course!</button>
            </div>
        </div>
    </div>
</div>