<div class="container border">
    <div class="col-12">
        <h4 class="highlight">Users List</h4>
        <table class="table table-hover">
            <thead>
                <tr class="table-header">
                    <th>Full name</th>
                    <th>Birthday</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Account #</th>
                    <th></th>
                </tr>
            </thead>
        
            <tbody>
                <tr *ngFor="let user of users">
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.birthdate }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.password }}</td>
                    <td>{{ user.accnum }}</td>
                    <td><a (click)="onRemove(user.$key)"><i class="far fa-trash-alt"></i></a></td>
                </tr>
            </tbody>
        </table>  
    </div>
</div>