nav {
    background-color: #222;
    color: rgb(245, 241, 242);
    box-shadow: 3px 3px 3px 3px rgba(153, 153, 153, 0.767);
}

.nav-pic {
    width: 60px;
    height: 60px;
    margin: 0 10px 0 0;
}

.nav-item {
    padding: 0 10px;
    border-bottom: 2px solid #fd0236;
}

.nav-item:hover {
    transform: translateY(3px);
    border: 2px solid #fd0236;
}

.li-style {
    color: #fff;
}

/* @media (max-width: 470px) {
    .nav-pic,
    .list {
        display: block;
        margin: 0 auto;
    }
} */