
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <img class="navbar-brand nav-pic img-fluid" src="../../assets/img/cancel.png" alt="Navigation Picture"/>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav list">
      <li class="nav-item">
        <a class="li-style nav-link" routerLink=""><strong>Home</strong></a>
      </li>
      <li class="nav-item">
        <a class="li-style nav-link" routerLink="/courses"><strong>Courses</strong></a>
      </li>
      <li class="nav-item">
        <a class="li-style nav-link" routerLink="/tutors"><strong>Tutors</strong></a>
      </li>
      <li class="nav-item">
        <a class="li-style nav-link" routerLink="/registration"><strong>Register</strong></a>
      </li>
      <li class="nav-item">
        <a class="li-style nav-link" routerLink="/login"><strong>Login</strong></a>
      </li>
    </ul>
  </div>
</nav>

<!-- <nav id="navbarScroll" class="navbar fixed-top">
  <img class="nav-pic" src="../../assets/img/cancel.png" alt="Navigation Picture"/>
  <div class="collapse navbar-collapse"></div>
  <ul class="list">
      <li class="nav-item">
        <a class="li-style nav-link" routerLink=""><strong>Home</strong></a>
      </li>
      <li class="nav-item">
        <a class="li-style nav-link" routerLink="register"><strong>Register</strong></a>
      </li>
      <li class="nav-item">
        <a class="li-style nav-link" routerLink="login"><strong>Login</strong></a>
      </li>
  </ul>
</nav> -->